################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bruno.Calculator.ConsoleApp/Bruno.Calculator.ConsoleApp/obj
/.vs
/Bruno.Calculator.ConsoleApp/.vs/Bruno.Calculator.ConsoleApp
/Bruno.Calculator.ConsoleApp/Bruno.Calculator.ConsoleApp/bin/Debug/net7.0
/Bruno.Calculator.Tests/obj
